TEI-Etymology/TEI-Etymology-ODD.xml

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0"
 xml:lang="en">
 <teiHeader>
  <fileDesc>
   <titleStmt>
    <title>TEI Etymology</title>
    <author>Jack Bowers</author>
   </titleStmt>
   <publicationStmt>
    <publisher>TEI Consortium</publisher>
    <availability status="free">
     <p>TEI material can be licensed differently depending on the use you intend to make of it.
      Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
      generally appropriate for usages which treat TEI content as data or documentation. The BSD-2
      licence is generally appropriate for usage of TEI content in a software environment. For
      further information or clarification, please contact the TEI Consortium (info@tei-c.org).</p>
    </availability>
   </publicationStmt>
   <notesStmt>
    <note type="ns">http://www.example.org/ns/nonTEI</note>
   </notesStmt>
   <sourceDesc>
    <p>Written from scratch.</p>
   </sourceDesc>
  </fileDesc>
 </teiHeader>
 <text>
  <body>
   <head>TEI Complete</head>
   <p><emph>all</emph> of the TEI (P5) modules. This is a very useful starting place for manually
    creating your own customizations — it is much easier to delete the modules you do not want than
    to add the modules you do. Furthermore this customization often proves helpful for testing TEI
    software.This TEI customization describes a schema that includes&#13; all of the TEI (P5)
    modules. This is a very useful&#13; starting place for manually creating your own
    customizations&#13; — it is much easier to delete the modules you do not&#13; want than to add
    the modules you do. Furthermore this&#13; customization often proves helpful for testing
    TEI&#13; software.</p>
   <p>However, this particular TEI customization is <emph>not recommended</emph> for actual use for
    encoding documents. It produces schemas and reference documentation that will be much larger,
    and include many more elements, than almost anyone could conceivably ever need. Tempting though
    it may be simply to have absolutely everything, and <q>just ignore</q> elements not required,
    experience has shown that their presence makes the documentation harder to read and use, and
    makes a schema that is far more lax than desired.</p>
   <schemaSpec ident="TEI-Etymology-ODD">
    <moduleRef key="tei"/>
    <!-- required -->
    <moduleRef key="core"/>
    <!-- required -->
    <moduleRef key="analysis" except="interp interpGrp span spanGrp"/>
    <moduleRef key="certainty"/>
    <moduleRef key="dictionaries" except="oVar pVar"/>
    <moduleRef key="header"/>
    <!-- required -->
    <moduleRef key="textstructure" include="TEI text body div"/>
    <moduleRef key="iso-fs"/>
    <moduleRef key="linking"/>
    <moduleRef key="namesdates"/>
    <!-- required -->

    <!-- add @subtype on <form> -->


    <!-- add @type  and @subtype on <etym> -->

    <elementSpec ident="etym" mode="change" module="dictionaries">
     <classes mode="change">
      <memberOf mode="add" key="att.typed"/>
     </classes>
     <!-- enable @subtype
     <constraintSpec scheme="schematron" ident="subtypeTyped" mode="add">
      <constraint>
       <sch:rule context="tei:*[@subtype]" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
        <sch:assert test="@type">The <sch:name/> element should not be categorized in detail with
         @subtype unless also categorized in general with @type</sch:assert>
       </sch:rule>
      </constraint>
     </constraintSpec> 
     <attList>
      <attDef ident="subtype" usage="opt" mode="add">
       <desc versionDate="2005-10-10" xml:lang="en">provides a sub-categorization of the element, if
        needed</desc>
       <datatype>
        <dataRef key="teidata.enumerated"/>
       </datatype>
       <remarks versionDate="2013-01-13" xml:lang="en">
        <p>The <att>subtype</att> attribute may be used to provide any sub-classification for the
         element additional to that provided by its <att>type</att> attribute.</p>
       </remarks>
      </attDef>
     </attList>-->
    </elementSpec>



    <!-- allow <cit> without a <quote>or other forms... (for cases of non-specified etymons) -->  
    <!-- add <lang> in <cit>
    <elementSpec ident="cit">
     
     <classes mode="change">
      
     </classes>
     <content>
      <alternate>
       <elementRef key="model.nameLike"/>      
      </alternate>
     </content>
    </elementSpec>
 -->

    <elementSpec ident="lang" mode="change" module="dictionaries">
     <classes mode="change">
      <memberOf key="model.entryPart"/>
     </classes>
    </elementSpec>

    <elementSpec ident="orth" mode="change" module="dictionaries">
     <classes mode="change">
      <memberOf key="att.datable.w3c" mode="add"/>
      <memberOf key="att.notated" mode="add"/>
     </classes>
    </elementSpec>

    <elementSpec ident="pc" mode="change" module="analysis">
     <classes mode="change">
      <memberOf key="model.entryPart.top"/>
     </classes>
    </elementSpec>

    <elementSpec ident="lbl" mode="change" module="dictionaries">
     <classes mode="change">
      <memberOf key="model.entryPart.top"/>
     </classes>
    </elementSpec>

   </schemaSpec>
  </body>
 </text>
</TEI>
